### 29. How to replace missing spaces in a string with the least frequent character?
- Replace the spaces in my_str with the least frequent character.

In [2]:
# input

import pandas as pd

# Input
my_str = 'dbc deb abed gade'

In [4]:
# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
     3
b    3
e    3
a    2
g    1
c    1
dtype: int64

'dbccdebcabedcgade'

### 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [7]:
# Solution
import numpy as np
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    2
2000-01-08    2
2000-01-15    2
2000-01-22    9
2000-01-29    6
2000-02-05    4
2000-02-12    6
2000-02-19    2
2000-02-26    2
2000-03-04    1
Freq: W-SAT, dtype: int64

### 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?
- ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [8]:
# Input
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [9]:
# Solution
ser.resample('D').ffill()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

### 32. How to compute the autocorrelations of a numeric series?
- Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [11]:
# Input

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [12]:
# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ',np.argmax(np.abs(autocorrelations[1:]))+1)

[0.23, 0.3, 0.49, 0.21, 0.58, 0.11, 0.32, 0.34, -0.33, 0.72]
Lag having highest correlation:  10


### 33. How to import only every nth row from a csv file to create a dataframe?
- Import every 50th row of BostonHousing dataset as a dataframe.

In [13]:
# Solution
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])