### 39. How to rename a specific columns in a dataframe?
- Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.

In [2]:
# Input

import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [3]:
# Solution

# Step 1
df = df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2
df.columns = df.columns.map(lambda x: x.replace('.','_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

### 40. How to check if a dataframe has any missing values?
- Check if df has any missing values.

In [4]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [6]:
# Solution

df.isnull().values.any()

True

### 41. How to count the number of missing values in each column?
- Count the number of missing values in each column of df. Which column has the maximum number of missing values?
- apply함수 : 커스텀 함수를 사용하기 위해 DataFrame에서 복수 개의 컬럼이 필요하다면, apply함수를 사용해야 한다.
- map함수 : map함수는 DataFrame 타입이 아니라, 반드시 Series 타입에서만 사용해야 한다.

In [11]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [58]:
# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
isinstance(n_missings_each_col, pd.Series)

maxindex = np.argmax(n_missings_each_col)

23

### 42. How to replace missing values of multiple numeric columns with the mean?
- Replace missing values in Min.Price and Max.Price columns with their respective mean.

In [59]:
# Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [60]:
# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

### 43. How to use apply function on existing columns with global variables as additional arguments?
- In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

In [61]:
# Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [62]:
# Solution

d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))