### 44. How to select a specific column from a dataframe as a dataframe instead of a series?
- Get the first column (a) in df as a dataframe (rather than as a Series).

In [2]:
# Input

import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [4]:
# Solution
type(df[['a']])
type(df.loc[:,['a']])
type(df.iloc[:,[0]])

pandas.core.series.Series

### 45. How to change the order of columns of a dataframe?
- Actually 3 questions.
- 1.In df, interchange columns 'a' and 'c'.
- 2.Create a generic function to interchange two columns, without hardcoding column names.
- 3.Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [6]:
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

### 46. How to set the number of rows and columns displayed in the output?
- Change the pamdas display settings on printing the dataframe df it shows a maximum of 10 rows and 10 columns.

In [9]:
# Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [13]:
# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
df

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

### 47. How to format or suppress scientific notations in a pandas dataframe?
- Suppress scientific notations like â€˜e-03â€™ in df and print upto 4 numbers after decimal.

In [14]:
# Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df

     random
0  0.127841
1  0.826930
2  0.238006
3  0.006452

In [15]:
# Solution 1 : Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x,axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format',lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

   random
0  0.1278
1  0.8269
2  0.2380
3  0.0065

### 48. How to format all the values in a dataframe as percentages?
- Format the values in column 'random' of df as percentages.

In [17]:
#Input

df = pd.DataFrame(np.random.random(4), columns=['random'])

In [18]:
# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out